---
---

@import "base";

body {
  margin-top: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9em;
}

.portrait-column {
    padding: 0;
}

.portrait-image {
    border-radius: 50%;
    max-width: 7em;
}

.author-me {
    font-weight: 600;
}

.category-name {
  margin-bottom: 2em;
  font-size: 12px;
  text-decoration: underline;
  // font-family: 'Lobster', san-serif;
  // color: #3bafda
}


h2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.3em !important;
    font-size: 18px !important;
}

.columns {
    margin-bottom: 0 !important;
    font-size: 0.9em;
}

@media print {
    html, body {
        height: auto;
        font-size: 9pt; /* changing to 10pt has no impact */
    }
}

.title.is-2 {
  font-size: 1.5rem;
}
.subtitle.is-5 {
  font-size: 0.9rem;
}

.publication-tags-inline {
  font-size: 1em; /* Inherit body font size */
  font-family: inherit; /* Use body font */
  margin-left: 1em; /* Space between heading and tags */
}
.publication-tag {
  margin-right: 0.7em; /* Space between tags */
  color: #666; /* Optional: subtle color */
  font-weight: normal;
}
