---
---

@import "base";

body {
  margin-top: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9em;
}

.portrait-column {
    padding: 0;
}

.portrait-image {
    border-radius: 50%;
    max-width: 7em;
}

.author-me {
    font-weight: 600;
}

.category-name {
  margin-bottom: 2em !important;
  font-size: 12px;
}


h2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.3em !important;
    font-size: 18px !important;
}

.columns {
    margin-bottom: 0 !important;
    font-size: 0.9em;
}

@media print {
  .category-name {
    font-size: 7pt !important;
  }
  html, body {
        height: auto;
        font-size: 9pt; /* changing to 10pt has no impact */
    }
}

.title.is-2 {
  font-size: 2rem;
}
.subtitle.is-5 {
  font-size: 0.9rem;
}
