---
layout: null
---
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ site.title }}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro|Lobster" rel="stylesheet">
  <link href="./css/fontawesome.all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" rel="stylesheet">
  <link href="./css/bulma.min.css" rel="stylesheet">
  <link href="./css/cv.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script defer src="./js/fontawesome.all.min.js"></script>
</head>

<body>

  <section>
    <div class="container is-max-desktop">
      <div class="columns is-vcentered">
        <div class="column">
          <div class="has-text-centered">
            <h1 class="title is-2">{{ site.name }}</h1>
          </div>
          <div class="has-text-centered" style="margin-top: 1rem;">
            <a href="{{ site.url }}">
              <i class="fas fa-home"></i>
              {% assign url_parts = site.url | split: "//" %}
              {{ url_parts[1] }}
            </a>
            &nbsp;&nbsp;
            <a href="mailto:{{ site.email }}">
              <i class="fas fa-envelope"></i>
              {{ site.email }}
            </a>
            &nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fab fa-linkedin"></i>
              {{ site.linkedin_username }}
            </a>
            &nbsp;&nbsp;            
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fab fa-github"></i>
              {{ site.github_username }}
            </a>
            &nbsp;&nbsp;
          </div>
        </div>
      </div>
      
      <div class="content">
        <h2>Research Interest</h2>
        <div class="columns">
          <div class="column is-fifth-fifths">
            My primary focus is on <b>Generative Models, Diffusion Models, Video Editing, Image Editing.</b> My recent works include:<br />
               • <br />
               • Enhanced video editing by developing a ‘motion word’ approach, enabling subject replacement across diverse body structures and increasing text alignment up to 7.66%.<br />
               • Identified and resolved a conflict among embeddings in zero-shot text-to-image (T2I) customization using orthogonal embedding, improving text alignment by 3.82-5.26% and image alignment by 2.11-12.2%.<br />
              <!-- My recent works highlight challenges users encounter in real-world scenarios, enabling more flexible and intuitive generation. -->
              <!-- My research also includes a broader areas of computer vision, including video rendering, segmentation, and 3D object detection. -->
          </div>
        </div>
        
        <h2>Education</h2>
        {% for school in site.data.education %}
        <div class="columns">
          <div class="column is-four-fifths">
            <b>{{ school.name }}</b><br />
            {{ school.description }}
          </div>
          <div class="column is-one-fifth has-text-right">
            {{ school.dates }}
          </div>
        </div>
        {% endfor %}

        <h2>Employment</h2>
        {% for job in site.data.employment %}
        <div class="columns">
          <div class="column is-four-fifths">
            <b>{{ job.company }}</b> | {{ job.position }}<br />
            {% for description in job.description %}
              • {{ description }}<br />
            {% endfor %}
          </div>
          <div class="column is-one-fifth has-text-right">
            {{ job.dates }}
            <br />
            {{ job.location }}
          </div>
        </div>
        {% endfor %}

        <h2>Selected Publications</h2>
        {% for publication in site.data.publications %}
          {% if publication.cv %}
            <div class="columns">
              <div class="column is-four-fifths">
                <b>{{ publication.title }}</b>
                <div class="publication-authors">
                  {% for author_id in publication.authors %}
                  {% assign cleaned_author_id = author_id | remove: '*' %}
                  {% assign author = site.data.authors[cleaned_author_id] %}
                  <span class="author-block {% if author.is_me %}author-me{% endif %}">
                    {% if author.is_me %}
                    <u>{{ author.first_name }} {{ author.last_name }}</u>{% if forloop.last == false %},{%endif %}
                    {% else %}
                    {{ author.first_name }} {{ author.last_name }}{% if
                    forloop.last == false %},{% endif %}
                    {% endif %}
                  </span>
                  {% endfor %}
                </div>
                {% if publication.project_page %}
                <i class="fas fa-globe"></i> <a href="{{ publication.project_page }}">{{ publication.project_page }}</a>
                {% endif %}
              <div class="column is-one-fifth has-text-right">
                {{ publication.venue }}
              </div>
            </div>
          {% endif %}
        {% endfor %}

        <!-- <h2>Projects</h2>
        {% for project in site.data.projects %}
          {% if project.cv %}
            <div class="columns">
              <div class="column is-four-fifths">
                <b>{{ project.name }}</b> | {{ project.organization }}<br />
                {% for description in project.description %}
                  • {{ description }}<br />
                {% endfor %}
              </div>
              <div class="column is-one-fifth has-text-right">
                {{ project.dates }}
              </div>
            </div>
          {% endif %}
        {% endfor %} -->

        <h2>Patents</h2>
        {% for patent in site.data.patents %}
          <div class="columns">
            <div class="column is-fifth-fifths">
              <b>{{ patent.name }}.</b> {{ patent.info }} <br />
            </div>
          </div>
        {% endfor %}
        
        <div class="columns">
          <div class="column is-one-third">
            <h2>Reviewer</h2>
            {% assign unique_tags = site.data.reviewer | map: 'tag' | uniq %}
            {% for review in site.data.reviewer %}
                • {{ review }}<br />
            {% endfor %}
          </div>

          <div class="column is-two-thirds">
            <h2>Teaching</h2>
            {% assign unique_tags = site.data.teaching | map: 'tag' | uniq %}
            {% for lecture in site.data.teaching %}
                  • {{ lecture.name }} ({{ lecture.dates }})<br />
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </section>

</body>

</html>
